body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  min-width: 480px;
  font-size: 12px;
  font-family: 'AnonymicePro', 'Anonymous Pro', sans-serif;
  line-height: 1.66;
  word-wrap: break-word;
  background: linear-gradient(3deg, rgba(21,207,253,0), rgba(21,207,253,1));
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-size: 1em;
  padding: 20px;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #014A5D;
  font-weight: bold;
}

a:hover {
  color: #15CFFD;
}

a:hover {
  text-decoration: underline;
}

table {
  max-width: 80%;
  margin: 20px auto 20px 20px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
  border-spacing: 0px;
}

tr {
}

th {
  background-color: rgba(192, 192, 192, 0.5);
}

td {
  background-color: rgba(255, 255, 255, 0.5);
}

tr td:first-child {
  background-color: rgba(192, 192, 192, 0.5);
}

td,
th {
  padding: 10px;
  text-align: left;
  margin: 0px;
  border: solid 1px #000;
}
